body {
    padding: 0;
    margin: 0;
}

.header {
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu-container {
    position: relative;
    display: inline-block;
    left: 90vw;
    top: 1vh;
}

.menu-button {
    background: rgba(0, 0, 0, 0.822);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 5px;
    width: 5vw;
    height: 6vh;
}

.menu-button:hover {
    background: rgb(29, 28, 28);
}
