body {
    padding: 0;
    margin: 0;
}

.header {
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu-container {
    position: relative;
    display: inline-block;
    left: 90vw;
    top: 1vh;
}

.menu-button {
    background: rgba(0, 0, 0, 0.822);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 5px;
    width: 5vw;
    height: 6vh;
    position: relative;
}

.menu-button:hover {
    background: rgb(29, 28, 28);
}

@media (max-width: 768px) {
    .menu-button {
        width: 12vw;
        height: auto;
        font-size: 4vw;
    }
}

/* Telas médias (tablets) */
@media (max-width: 1024px) {
    .menu-button {
        width: 8vw;
        height: auto;
        font-size: 3vw;
    }
}

/* Telas grandes (desktops) */
@media (min-width: 1440px) {
    .menu-button {
        width: 3vw;
        height: auto;
        font-size: 1.2vw;
    }
}