.dashboard {
    width: 100%;
    padding: 20px;    
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
    padding-bottom: 80px;
}

.dashboard-title {
    text-align: center;
    padding: 20px;
    margin: 0;
}

.chart-container {
    margin-top: -8vh;
    width: 100%;
    height: 500px;
}

#btnAtualizar {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: white; 
    margin-bottom: 20px;
}

#btnAtualizar:hover {
    background-color: #333;
}

li{
    list-style-type: none;
    font-family: sans-serif;
    margin: 10px;
}


.additional-content {
    padding: 10px;
    margin-bottom: 60px; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.additional-content ul {
    padding-left: 20px;
    margin-bottom: 30px;
}

.additional-content li {
    margin-bottom: 15px;
}

.additional-content ul li:last-child {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .dashboard {
        padding: 15px;
        min-height: calc(100vh - 210px);
    }
    
    .dashboard-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .chart-container {
        height: 400px;
    }
    
    .additional-content {
        margin-bottom: 80px;
    }
}

@media (max-width: 480px) {
    .chart-container {
        height: 300px;
    }
    
    .dashboard {
        padding-bottom: 120px;
    }
    
    .additional-content {
        padding: 5px;
        margin-bottom: 100px;
    }
}