.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.recovery-box {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    color: #666;
    text-align: center;
    margin-bottom: 2rem;
}

.input-group {
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.recovery-button {
    width: 100%;
    padding: 0.8rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.recovery-input{
    width: 40vh;
}

.recovery-button:hover {
    background-color: rgb(49, 46, 46)
}

.back-link {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 1rem;
}

.back-link:hover {
    text-decoration: underline;
}
